<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Cars_Reporting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Cars_Reporting.Properties.Settings>
            <setting name="myhost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="myuser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="mypass" serializeAs="String">
                <value>outlet</value>
            </setting>
            <setting name="mytable" serializeAs="String">
                <value>crmtest</value>
            </setting>
        </Cars_Reporting.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
